#arjs-loader {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}
